<!DOCTYPE html>
<html lang="en" dir="ltr">
<%
  let subtitle = ' - Member - ' + user.username + ' - Settings';
%>
  <head>
  <%- include('../partials/head.ejs', { subtitle: subtitle }); %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/picselect.js"></script>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
  <main>
    <div class="flex-col user-settings">
      <div class="edit-message"><%= (updateMessage ? updateMessage : '') %></div>
      <form class="flex-col form-user-edit" action="/members/<%= user.username %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="toUpdate" value="settings">
        <fieldset>
          <legend>Profile Settings</legend>
          <div class="flex-row stretch">
            <div id="change-avatar">
              <div class="top-float">Click to Change</div>
              <img class="avatar" src="<%= user.profilePic %>" alt="<%= user.username %>">
              <input type="hidden" name="profilePic" value="<%= user.profilePic %>">
            </div>
            <div class="flex-col fill">
              <label for="bio">Biography:</label>
              <textarea class="fill" name="bio" placeholder="Say a little bit about yourself..."><%= (user.bio ? user.bio : '') %></textarea>
              <div>
                <input type="checkbox" name="friendsOnly" <%= (user.friendsOnly ? 'checked' : '') %>>
                <label for="friendsOnly">Only allow friends to view profile.</label>
              </div>
              <div>
                <input type="checkbox" name="delOnBlacklist" <%= (user.delOnBlacklist ? 'checked' : '') %>>
                <label for="delOnBlacklist">Delete all messages sent by member when blacklisting.</label>
              </div>
            </div>
          </div>
          <div class="submit">
            <input type="submit" value="Save Changes">
          </div>
        </fieldset>
      </form>
      <%_ if (user.friends.length > 0) { -%>
      <form class="flex-col" action="/members/<%= user.username %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="toUpdate" value="friends">
        <fieldset>
          <legend>Manage Friends</legend>
          <div id="all-friends" class="checkbox-list">
            <%_ for (let i=0; i<user.friends.length; i++) { -%>
            <div>
              <%_ let friend = user.friends[i]; -%>
              <input type="checkbox" name="friend_<%= i %>" value="<%= friend %>">
              <label for="friend_<%= i %>"><%= friend %></label>
            </div>
            <%_ } -%>
          </div>
          <div class="submit">
            <input id="clean-friends" class="button" type="submit" value="End Friendship" disabled>
          </div>
        </fieldset>
      </form>
      <%_ } -%>
      <%_ if (user.blacklist.length > 0) { -%>
      <form class="flex-col" action="/members/<%= user.username %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="toUpdate" value="blacklist">
        <fieldset>
          <legend>Manage Blacklist</legend>
          <div id="all-blacklist" class="checkbox-list">
            <%_ for (let i=0; i<user.blacklist.length; i++) { -%>
            <div>
              <%_ let blacklisted = user.blacklist[i]; -%>
              <input type="checkbox" name="blocked_<%= i %>" value="<%= blacklisted %>">
              <label for="blocked_<%= i %>"><%= blacklisted %></label>
            </div>
            <%_ } -%>
          </div>
          <div class="submit">
            <input id="clean-blacklist" class="button" type="submit" value="Remove From Blacklist" disabled>
          </div>
        </fieldset>
      </form>
      <%_ } -%>
      <form class="flex-col" action="/members/<%= user.username %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="toUpdate" value="password">
        <fieldset>
          <legend>Update Password</legend>
          <div id="pass-change-error" class="error"></div>
          <div class="grid-2">
            <label for="currentPass">Current Password:</label>
            <input type="password" name="currentPass">
            <label for="newPass">New Password:</label>
            <input type="password" name="newPass">
            <label for="newPassConfirm">Confim Password:</label>
            <input type="password" name="newPassConfirm">
          </div>
          <div class="submit">
            <input id="pass-change" class="button" type="submit" value="Update Password">
          </div>
        </fieldset>
      </form>
      <form class="flex-col" action="/members/<%= user.username %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <fieldset>
          <legend>DANGER ZONE</legend>
          <p>
            This will permantly delete your account. There is no undo for this action.
            Any and all infromation you provided will not be recoverable. You will be
            given only one change to back out if you press this button.
          </p>
          <div class="submit">
            <input id="delete-account" class="button" type="submit" value="Delete My Account">
          </div>
        </fieldset>
      </form>
    </div>
  </main>
  <% include ../partials/footer.ejs %>
  </body>
</html>
