<!DOCTYPE html>
<html lang="en" dir="ltr">
<%
  let subtitle = ' - Members';
%>
  <head>
  <%- include('../partials/head.ejs', { subtitle: subtitle }); %>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
  <main>
    <div class="flex-row full wrap">
    <% for (let member of allMembers) { %>
      <a class="txt-link" href="/members/<%= member.username %>">
      <%
        let visible = canSee(member, user);
        let status = (!visible || member.friendsOnly ? 'alone' : 'together');
      %>
        <div class="flex-row member <%= status %>">
          <img class="small-avatar" src="<%= member.profilePic %>" alt="<%= member.username %>">
          <div class="flex-col member-status">
            <h3><%= member.username %></h3>
            <p class="status">Preference: <%= status %></p>
          </div>
          <% if (status ==  'alone') { %>
          <div class="alone-blind"></div>
          <% } %>
        </div>
      </a>
    <% } %>
    </div>
  </main>
  <% include ../partials/footer.ejs %>
  </body>
</html>
