<!DOCTYPE html>
<html lang="en" dir="ltr">
<%
  let subtitle = ' - Member - ' + member.username;
%>
  <head>
  <%- include('../partials/head.ejs', { subtitle: subtitle }); %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/validation.js"></script>
    <script type="text/javascript" src="/inputChecker.js"></script>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
    <main class="stretch">
      <div class="flex-row full">
        <div class="flex-col user-page-left">
          <img class="avatar" src="<%= member.profilePic %>" alt="<%= member.username %>">
          <h1><%= member.username %></h1>
        </div>
        <div class="flex-col fill user-page-right">
          <p>This member currently prefers to be alone.</p>
        <% if (member._id.toString() != user._id.toString()) { %>
        <%- include('../partials/sendMessage.ejs', {user:user, member:member}); %>
        <% } %>
        <%- include('../partials/friendRequest.ejs', {user:user, member:member, inFlight: awaitingReply}); %>
        </div>
      </div>
    </main>
  <% include ../partials/footer.ejs %>
  </body>
</html>
