<!DOCTYPE html>
<html lang="en" dir="ltr">
<%
  let subtitle = ' - Member - ' + member.username;
  let imgSrc = (member.username ? member.username : '/images/anon.svg');
%>
  <head>
  <%- include('../partials/head.ejs', { subtitle: subtitle }); %>
  </head>
  <body>
  <%- include('../partials/header.ejs', { user: user }); %>
    <main class="stretch">
      <div class="flex-row full">
        <div class="flex-col user-page-left">
          <img class="avatar" src="<%= member.profilePic %>" alt="<%= member.username %>">
          <h1><%= member.username %></h1>
          <div class="text-display">
          <% for (let p of splitMessage(member.bio)) { %>
            <p><%= p %></p>
          <% } %>
          </div>
          <h3>Friends</h3>
          <div class="friends">
          <% for (let f of member.friends) { %>
            <a class="txt-link" href="/members<%= f %>"><%= f %></a>
          <% } %>
          </div>
        </div>
        <div class="flex-col fill user-page-right">
        <%- include('../partials/friendRequest.ejs', {user:user, member:member, inFlight: awaitingReply}); %>
        <% if (member._id != user._id) { %>
          <p>Send a direct message</p>
          <%- include('../partials/sendMessage.ejs', {user:user, member:member}); %>
        <% } %>
        </div>
      </div>
    </main>
  <% include ../partials/footer.ejs %>
  </body>
</html>
